

<section class="about-us">
<br><br><br><br><br><br><br>
<div class="about">
  <img src="/assets/img41.png" class="pic">
  <div class="text">
    <h2>About Us</h2>
    <h5>Celebrating Creativity at CATHART</h5>
      <p>Welcome to Cathart, where creativity takes center stage, and artistic expression knows no boundaries. We are more than just an art supply store; we are a community that celebrates the diverse and boundless world of art. </p>
    <div class="data">
    <a href="#" class="hire">Contact Us</a>
    </div>
  </div>
</div>
</section>


<div class="footer-clean">
<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 item">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Art sale</a></li>
                    <li><a href="#">Learn to draw</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>About</h3>
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Legacy</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>Careers</h3>
                <ul>
                    <li><a href="#">Job openings</a></li>
                    <li><a href="#">Employee success</a></li>
                    <li><a href="#">Benefits</a></li>
                </ul>
            </div>
            <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                <p class="copyright">Cathart © 2023</p>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
