<header>
  <div class="container">
      <nav>
          <ul>
            <li><a routerLink=""routerLinkActive="active">Home</a> </li>
            <li><a routerLink="/about"routerLinkActive="active">About</a> </li>
            <li><a routerLink="/learn"routerLinkActive="active">Learn</a> </li>
            <li><a routerLink="/competitions"routerLinkActive="active">Competitions</a> </li>
             <li><a routerLink="/blog"routerLinkActive="active">Blog</a> </li>
               
          </ul>
         <div class="shop"><i class="bx bx-shopping-bag" id="cart-icon" ></i></div>
      </nav>

  </div>

</header>

<div class="content">
  <router-outlet></router-outlet>
</div>
  

